#bgvid{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -5;
}
.cont{
    overflow: hidden;
}
.aboutme{
    padding: 0.1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    position: absolute;
    top: 35vh;
    left: 40vw;
    font-size: 6.5vh;
    font-family: 'Orbitron', sans-serif;
    color: rgb(201, 0, 0);
    text-shadow: 2px 2px rgb(255, 61, 61);
    border-style: solid;
    border-color: rgb(201, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(255, 0, 0);
}
.virtualconnect{
    padding: 0.1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    position: absolute;
    top: 50vh;
    left: 35.75vw;
    font-size: 6.5vh;
    font-family: 'Orbitron', sans-serif;
    color: rgb(201, 0, 0);
    text-shadow: 2px 2px rgb(255, 61, 61);
    border-style: solid;
    border-color: rgb(201, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(255, 0, 0);
}
.myskillset{
    padding: 0.1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    position: absolute;
    top: 65vh;
    left: 43.5vw;
    font-size: 6.5vh;
    font-family: 'Orbitron', sans-serif;
    color: rgb(201, 0, 0);
    text-shadow: 2px 2px rgb(255, 61, 61);
    border-style: solid;
    border-color: rgb(201, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(255, 0, 0);
}
.projects{
    padding: 0.1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    position: absolute;
    top: 80vh;
    left: 41vw;
    font-size: 6.5vh;
    font-family: 'Orbitron', sans-serif;
    color: rgb(201, 0, 0);
    text-shadow: 2px 2px rgb(255, 61, 61);
    border-style: solid;
    border-color: rgb(201, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(255, 0, 0);
}
.pghead{
    position:absolute;
    top: 1.25vh;
    font-size: 5vh;
    transform : translateX(-100%);
    font-family: 'Orbitron', sans-serif;
    color: rgb(19, 94, 255);
    animation: title 15s infinite linear;
}
.box{
    position:absolute;
    top: 5vh;
    left: 18.5vw;
    height: 7.5vh;
    width: 60vw;
    background-color: transparent;
    border-style: solid;
    border-width: 3.5px;
    border-color: rgb(19, 34, 255);
    box-shadow: 0px 0px 15px 7.5px rgb(89, 166, 255);
    overflow: hidden;
}
@keyframes title{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}